<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Grad Budget JS</title>

    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/transactions.css">
    <link rel="stylesheet" href="/css/budget.css">
    <link rel="stylesheet" href="/css/not-found.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <script src="/js/nav.js"></script>

</head>

<body onload="makeNavActive()">
    <nav>
        <ul class="nav-list">
            <li>
                <a href="/">
                    <img class="logo" alt="Logo of Budgie the budgeting bird." src="/images/bird.svg">
                </a>
            </li>
            {{#each navlist }}
            <li class="nav-item">
                <a href={{href}}>{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer></footer>
</body>

</html>