<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Grad Budget JS</title>

    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/transactions.css">
    <link rel="stylesheet" href="/css/budget.css">
    <link rel="stylesheet" href="/css/not-found.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <script src="/js/nav.js"></script>

</head>

<body onload="makeNavActive()">
    <nav>
        <ul class="nav-list">
            <li>
                <a href="/">
                    <img class="logo" alt="Logo of Budgie the budgeting bird." src="/images/bird.svg">
                </a>
            </li>
            {{#each navlist }}
            <li class="nav-item">
                <a href={{href}}>{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer></footer>
</body>

</html>