<h1 class="transactions-title">Budget</h1>
<ul class="budget-ol">
    {{#each budget}}
        <li class="budget-li">
            <h3 class="budget-h3-1">{{categoryname}}</h3>
            <h4 class="budget-h3-2">{{budget}}</h4>
            <button aria-label="edit budget" onclick='location.href="budgets/{{usercategoryid}}"' class="btn-general budget-button">
                <img class="btn-icon" src="/images/edit.svg">
            </button>
        </li>
    {{/each}}
</ul>
<button aria-label="create new budget" onclick='location.href="new-budget"' class="btn-general new-transaction-btn">
    <section class="btn-inner-container">
        <h5 class="btn-text">Create New Budget</h5>
        <img class="btn-icon plus-icon" src="/images/plus.svg" alt="plus icon">
    </section>
</button>