<h1 class="budget-h1">Budget</h1>
<ul class="budget-ol">
    {{#each budget}}
        <li class="budget-li">
            <h3 class="budget-h3-1">{{categoryname}}</h3>
            <h4 class="budget-h3-2">{{budget}}</h4>
            <button onclick='location.href="budgets/{{usercategoryid}}"' class="budget-button">
                <img class="btn-icon" src="/images/edit.svg">
            </button>
        </li>
    {{/each}}
</ul>