<h1 class="budget-h1">Budget</h1>
<ul class="budget-ol">
    {{#each budget}}
        <li class="budget-li">
            <h3 class="budget-h3-1">{{catagoryname}}</h3>
            <h3 class="budget-h3-2">{{budget}}</h3>
        </li>
    {{/each}}
</ul>