<form method="post" action="/transactions/{{userexpenceid}}">
    <label>Description</label>
    <input type="text" value="{{description}}">
    <label>Amount</label>
    <input type="text" value="{{amount}}">
    <button type="submit"></button>
</form>