<form method="post" action="/transactions/{{userexpenceid}}">
    <input type="hidden" id="id" value="{{userexpenceid}}">
    <label>Description</label>
    <input id="desc" type="text" value="{{description}}">
    <label>Amount</label>
    <input id="amount" type="text" value="{{amount}}">
    <button id="put-transaction" type="button"></button>
</form>
<script src="/js/transactions.js"></script>