<h1 class="transactions-title">Edit Transaction</h1>
<form id="edit-transaction-form" method="post" action="/transactions/{{userexpenceid}}">
    <input type="hidden" id="id" value="{{userexpenceid}}">
    <label class="transaction-heading form-label">Description:</label>
    <input class="form-input" id="desc" type="text" value="{{description}}">
    <label class="transaction-heading form-label">Amount:</label>
    <input class="form-input" id="amount" type="text" value="{{amount}}">
    <section class="transaction-btn-container">
        <button aria-label="submit" id="put-transaction" type="button" class="btn-general btn-confirm edit">
            <img class="btn-icon" src="/images/tick.svg">
        </button>
        <button aria-label="cancel" id="cancel" type="button" class="btn-general btn-cancel edit">
            <img class="btn-icon" src="/images/cross.svg">
        </button>
    </section>
</form>
<script src="/js/transactions.js"></script>