<h2 class="transactions-title">Transactions</h2>
<ul class="transaction-list">
    {{#each transactions}}
        <li class="transaction-container">
            <h3 class="transaction-heading">{{description}}</h3>
            <h4 class="transaction-amount">{{amount}}</h4>
            <button aria-label="edit transaction" onclick='location.href="transactions/{{userexpenceid}}"' class="btn-general edit">
                <img class="btn-icon" src="/images/edit.svg">
            </button>
        </li>
    {{/each}}
    <button aria-label="create new transaction" onclick='location.href="new-transaction"' class="btn-general new-transaction-btn">
        <section class="btn-inner-container">
            <h5 class="btn-text">Log New Transaction</h5>
            <img class="btn-icon plus-icon" src="/images/plus.svg" alt="plus icon">
        </section>
    </button>
</ul>