ol,
li,
p,
h4 {
  margin: 0;
}

.budget-h1 {
  font-family: var(--primary-font);
  padding-left: 5%;
  padding-right: 5%;
}

.budget-ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  counter-reset: section;
  background: var(--panel-background-color);
  list-style: none;
  margin: 2% 2% 0 2%;
  padding: 0;
  max-height: 100%;
}

.budget-li {
  list-style-type: none;
  position: relative;
  font-size: 1.5rem;
  padding: 2% 2% 2% 2%;
  margin-bottom: 35px;
  margin-left: 35px;
  margin-right: 35px;
  width: 80%;
  background: white;
  box-shadow: 2px 2px 2px 2px lightgray;
  color: black;
  border-radius: 25px;
}

.budget-h4 {
  position: relative;
  padding-bottom: 10px;
  font-family: var(--primary-font);
}

.budget-p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-top: 15px;
  font-family: var(--primary-font);
}

.budget-h3-1 {
  position: left;
  font-size: 1.65rem;
  margin: 10px 0 0 15px;
  text-align: left;
  color: rgb(182, 178, 178);
  font-family: var(--primary-font);
  font-weight: 300;
}

.budget-h3-2 {
  font-size: 1.65rem;
  margin: 10px 0 0 15px;
  text-align: left;
  font-family: var(--primary-font);
  font-size: 2rem;
}

.budget-button {
  position: relative;
  float: inherit;
  color: var(--panel-background-colour);
  font-family: var(--primary-font);
  background-color: var(--primary-colour);
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  float: right;
}

.cancel,
.put-budget {
  margin-top: 20px;
  float: none;
  display: block;
}

#edit-budget-form {
  margin-top: 50px;
}

#cancel-new-budget,
#post-new-budget,
#cancel,
#put-budget {
  margin-top: 20px;
  float: none;
  width: 90%;
  display: block;
}
.budget-btn-container {
  margin: 10% 10% 0 10%;
  width: 90%;
}
