:root {
  --primary-colour: #4f61c0;
  --secondary-colour: #a5e7ef;
  --background-colour: #f8f6fb;
  --panel-background-colour: #ffffff;
  --shadow-colour: #888888;
  --muted-text-colour: #9b9b9b;
  --btn-positive-colour: #34c759;
  --btn-negative-colour: #ea241b;
  --heading-font-size: 2rem;
  --panel-heading-font-size: 3rem;
  --panel-amount-font-size: 3.5rem;
  --primary-font: "Roboto", sans-serif;
}
